<style type="text/css">
	#bgCheckForm h4 {
		color:#3c8dbc;
	}
    #file-error{
        color:red;
    }
</style>
<section class="content" ng-cloak id="bgCheckForm">
    <br><br>
    	<div class="box box-primary" >
            <div class="row box-header with-border boxhead">
            	<div class="col-md-6">
                    <h1 class="formheading">
                        <b>Download Form</b>
                    </h1>
                </div>
            </div>
            <div class="box-body">                    
                <div class="row">
                    <div class="col-md-2 form-group">                        
                        <button type="button" class="btn btn-primary" ng-click="doc.downloadBgCheckForm()">Download</button>
                    </div>
                    <div class="col-md-2 form-group">                        
                        <button type="button" class="btn btn-primary" ng-click="doc.downloadSampleForm()">View sample form</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary" >
            <div class="row box-header with-border boxhead">
                <div class="col-md-6">
                    <h1 class="formheading">
                        <b>Upload Documents </b>
                    </h1>
                </div>
            </div>
            <div class="box-body"> 
                <!-- {{doc.backgroundCheckList}} -->
                <div ng-repeat="bglist in doc.backgroundCheckList">
                    <form class="bgUploadForm" method="post" enctype="multipart/form-data" id="backgroundUploadForm_{{bglist.id}}" >
                        <!-- ng-if="bglist.candidate_checklist_docs.length == 0" -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 form-group"> 
                                    <label class="mandatory"> {{bglist.name}}</label>  
                                    <input type="{{bglist.type}}" class="form-control upload_file" name="file[]" id="file" ng-model="file" ng-files="getTheFiles($files)" multiple="{{bglist.type =='file' ? 'true':'false'}}" ng-if="bglist.type=='file'" accept="image/*,application/pdf" required ng-disabled='bglist.displayFlag =="False"'>
                                    <span style="color:#dd4b39;">{{fileSizeError}}</span>
                                </div>
                                <div class="col-md-2" style="margin-top: 2.5%;">
                                    <button type="button" class="btn btn-primary" ng-click="doc.uploadBgCheckForm(bglist.id,$index)" ng-disabled='bglist.displayFlag =="False"'>Upload File</button>
                                </div>
                                <div class="col-md-4" style="margin-top: 3%;">
                                    <label style="color:#dd4b39;">{{bglist.displayFlag =="False" ? "Files Already Uploaded." : ""}}</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	
</section>
<script type="text/javascript">
    
    //validation method to check uploaded files size
    $.validator.addMethod('filesize', function (value, element, param) {
        if(element.files[0].size <= 10300000){
            return true;
        }else{
            return false;
        }
    },"Individual file should not exceed 10 MB");

     $.validator.addClassRules({
        upload_file: {
            filesize: 10300000
        }
    });

    //validation method to check file types
    // $.validator.addMethod("accept", function(value, element, param) {
    //     return value.match(new RegExp("." + param + "$"));
    // },'Please select image or pdf file.');

    // $("#backgroundUploadForm").validate({
    //     //default input error message container
    //     errorElement: 'span', 
    //     errorClass: 'help-block help-block-error',
    //     errorPlacement: function (error, element) {
    //         error.insertAfter(element);
    //     },
    //     rules: {
    //         "file[]": {
    //             required: true,
    //             accept: "(pdf|jpeg|jpg|bmp|png)",
    //             // filesize: 1048576
    //             filesize: 10300000
    //         },                    
    //     },
    //     messages: {
    //         "file[]": {
    //             required: "File is required" ,
    //             accept: "Invalid file format",
    //             filesize: "File size must be less than 10MB"
    //         }
    //     },
    //     highlight: function (element) { 
    //         // hightlight error inputs
    //         $(element).closest('.form-group').addClass('has-error');
    //         // set error class to the control group
    //         $(element).next().children().children().attr('style', 'border-color:#dd4b39!important');
    //     },
    //     unhighlight: function (element) { 
    //         // revert the change done by hightlight
    //         $(element).next().children().children().attr('style', 'border-color:');// set error class to the control group
    //         $(element).closest('.form-group').removeClass('has-error');
    //     },
    //     success: function (label) {
    //         // set success class to the control group
    //         label.closest('.form-group').removeClass('has-error'); 
    //     }
    // });
</script>