<style type="text/css">
	#bgCheckForm h4 {
		color:#3c8dbc;
	}
    label.error{
        color:#dd4b39;
    }
    .btn.disabled, .btn[disabled]{

        pointer-events: visiblepainted;
    }
</style>
<section class="content" ng-cloak id="bgCheckForm">
    <br><br>
	<div class="box box-primary" >
        <div class="row box-header with-border boxhead">
        	<div class="col-md-6">
                <h1 class="formheading">
                    <b>Download Form</b>
                </h1>
            </div>
        </div>
        <div class="box-body">                    
            <div class="row">
                <div class="col-md-3 form-group">                        
                    <button type="button" class="btn btn-primary" ng-click="doc.downloadBgCheckForm()">Download BA BGC Form</button>
                </div>
                <div class="col-md-3 form-group">                        
                    <button type="button" class="btn btn-primary" ng-click="doc.downloadSampleForm()">View sample form of BA BGC form</button>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-primary" >
        <div class="row box-header with-border boxhead">
            <div class="col-md-6">
                <h1 class="formheading">
                    <b>Upload Documents </b>
                </h1>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6 form-group">
                    <span> <b style="color:#dd4b39;">NOTE: </b><br> * Support jpg, png, jpeg, pdf files.<br>* Total file size of each background checklist should be less than 10 MB.</span>
                </div>
            </div>
            <!-- {{doc.backgroundCheckList}} -->
            <div ng-repeat="bglist in doc.backgroundCheckList">
                <form class="bgUploadForm" method="post" enctype="multipart/form-data" id="backgroundUploadForm_{{bglist.id}}" >
                    <!-- ng-if="bglist.candidate_checklist_docs.length == 0" -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">                                
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-11 form-group"> 
                                            <label class="mandatory"> {{bglist.name}}</label>  
                                            <input type="{{bglist.type}}" class="form-control upload_file" name="file[]" id="file_{{bglist.id}}" ng-model="file" ng-files="getTheFiles($files)" multiple="{{bglist.type =='file' ? 'true':'false'}}" ng-if="bglist.type=='file'" accept="image/*,application/pdf" required >
                                            <!-- ng-disabled='bglist.displayFlag =="False"'  title='{{bglist.displayFlag =="False" ? "Files Already Uploaded." : ""}}' -->
                                        </div>
                                        <div class="col-md-1">
                                            <label class=""></label>
                                            <button type="button" class="btn btn-primary" ng-click="doc.uploadBgCheckForm(bglist.id,$index)" ng-disabled='bglist.displayFlag =="False"'>Upload File</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    //validation method to check uploaded files size
    $.validator.addMethod('filesize', function (value, element, param) {
        var lg = element.files.length; // get length
        var fileSize = 0;
        if (lg > 0) {
            for (var i = 0; i < lg; i++) {
                fileSize = fileSize+element.files[i].size; // get file size
            }
            if(fileSize <= 10485760){
                return true;
            }else{
                return false;
            }
        }
    },"Total file size should not exceed 10 MB");

    //validation method to add class rule for file size
    $.validator.addClassRules({
        upload_file: {
            filesize: 10485760
        }
    });
</script>