<style type="text/css">
    .select2-container--default {
        width:100% !important;
    }
    #pdfSettingModel > .modal-dialog.modal-lg{
        width: 50%;
    }

    #pdfSettingModel .modal-body{
        padding-left: 10% ;
        padding-right: 10%;
    }
    div#ms-my-select{
        width: auto;
    }
    #select-all-div{
        padding-left: 0px;
    }
    #deselect-all-div{
        padding-left: 30px;
    }
    @media only screen and (max-width: 640px) {
        #pdfSettingModel > .modal-dialog.modal-lg{
            width: auto;
        }
        #select-all-div{
            padding-left: 0px;
        }
        #deselect-all-div{
            padding-left: 0px;
        }
        #select-all-div_for_zip{
            padding-left: 5% !important;
        }
    }
    .check-green{
        color:#4cae4c;
    }
    .check-red{
        color:#dd4b39;
    }

    
    /*.searchbar ul {
      float: left;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333333;
    }

    .searchbar li {
      float: left;
    }

    .searchbar li a {
      display: block;
      color: white;
      text-align: center;
      padding: 15px;
      text-decoration: none;
    }

    .searchbar li a:hover {
      background-color: #111111;
    }*/
    /*.searchbar .selected{
        color:red;
    }
    .searchbar .deselected{
        color:red;
    }*/
    .blue{
        color:#428bca;
    }
    .red{
        color:red;
    }
    .listanchor{
        cursor: pointer;
    }
    .rowMargin{
        margin-left:0px;
        margin-right:0px;
    }
    div#ms-my-select_for_zip{
        width:100%;
    }
    #select-all-div_for_zip{
        padding-left: 2%;
    }
    #deselect-all-div_for_zip{
        padding-left: 5%;
    }
    .box-body, .box-footer {
         margin-left: 0px!important; 
         margin-right: 0px!important; 
    }

</style>
<section class="content" ng-cloak>
    <div class="container-fluid" style="overflow-y: hidden;">
        <br>
        <div class="row">
            <div class="col-md-6">
                <h4>Forward Resumes</h4>
            </div>
            <!-- <div class="col-md-2 pull-right" style="margin-top:1%;">
                <button type="button" class="btn btn-primary btn-circle btn-sm pull-right" data-toggle="collapse" title="Filter" data-target="#filter"><i class="fa fa-filter" aria-hidden="true" style="padding-right:0.3px"></i></button>
            </div>  -->        
        </div> 
        <br> 

        <div class="box box-primary">
            <div class="box-body">
                <form id="forwardResumeFilterForm">                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                              <label class="mandatory" for="">Company name</label>
                                <select id="company_name" name="company_name" ng-model="frlc.companyId" class="form-control s2mn" placeholder="Enter Company Name" style="width:100%;" ng-options="x.id as x.name for x in frlc.companyList" ng-selected="frlc.companyId ? true : false" ng-change="frlc.getJobcodeByCompanyId()">
                                    <option value="" style="color:#ccc;">Select company</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                              <label class="mandatory" for="">Job Code</label>
                                <select id="jobCode" name="jobCode" ng-model="frlc.jobCodeId" class="form-control s2mn" placeholder="Enter Job code" style="width:100%;" ng-disabled="frlc.jobcodeList == null ? true : false" ng-selected="frlc.companyId ? true : false" >
                                    <option value="" style="color:#ccc !important;">Select job code</option>
                                    <option ng-repeat="jd in frlc.jobcodeList track by jd.id" value="{{jd.id}}">{{jd.job_code}} {{jd.sub_title != '' ? (jd.sub_title) : ''}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4" style="margin-top: 2.2%">
                            <button type="button" class="btn btn-primary" ng-click="frlc.search()">Search</button> 
                            <button type="button" class="btn btn-primary fa fa-refresh" ng-click="frlc.resetFilter()"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>      
        <!-- <pre>{{frlc.candiadteList}}</pre> -->
        <div class="table-responsive no-padding">
            <table class="table table-hover">
                <thead class="thead-default">
                    <tr>
                        <th style="text-align: center;"><input type="checkbox" ng-model="frlc.checkall" ng-click="frlc.checkUncheckAll()" ng-if="frlc.candiadteList != null"/></th>
                        <th style="text-align: center;">Sr No.</th>
                        <th>Candidate Name</th>
                        <th>Company Name</th>
                        <th>Job Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in frlc.candiadteList">
                        <td style="text-align: center;"><input type="checkbox" name="" value="{{ data.checked }}" ng-model="data.checked" ng-change='frlc.updateCheckall()' /></td>
                        <td style="text-align: center;" ng-bind="$index + 1"></td>
                        <td ng-bind="data.first_name+' '+data.middle_name+' '+data.last_name"></td>
                        <td ng-bind="data.job_description.companies.name"></td>
                        <td>{{data.job_description.job_code}} {{data.job_description.sub_title != '' ? (data.job_description.sub_title) : ''}}</td>
                    </tr>
                    <tr ng-if="frlc.candiadteList == null || frlc.candiadteList.length == 0">
                        <td style="text-align: center;" colspan="5">No Records Found</td> 
                    </tr>
                </tbody>
            </table>
        </div> 

        <div class="box-footer" style="margin-right:14px!important">
            <div class="pull pull-right">
                <input type="submit" value="Save" data-ng-click="frlc.saveForwardResume()" class="btn btn-success" style="outline: 0;" ng-disabled="frlc.candiadteList == null || frlc.candiadteList.length == 0 ? true:false"/> 
                <!-- <input type="reset" value="Reset" ng-click="usr.resetForm()" class="btn" style="outline: 0;"/>  -->
            </div>
        </div>
    </div>
    
</section>
<script type="text/javascript">
    applySelect2();
    $(".s2mn").on("change", function () { $(this).valid(); });
    $("#forwardResumeFilterForm").validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block help-block-error',
        errorPlacement: function (error, element) {

            var type = $(element).attr("type");
            if ($(element).attr("id") === "jobCode")
            {
                element.parent().append(error);

            }else if ($(element).attr("id") === "company_name")
            {
                element.parent().append(error);

            }else{
                error.insertAfter(element);
            }
        },
        rules: {
            company_name: {
                required: true
            },
            jobCode: {
                required: true
            }
        },
        messages: {
            company_name: {
                required: "Company name is required."
            },
            jobCode: {
                required: "Job code is required."
            }
        },
        highlight: function (element) { // hightlight error inputs
            $(element).closest('.form-group').addClass('has-error');

            $(element).next().children().children().attr('style', 'border-color:#dd4b39!important');
            // set error class to the control group
        },
        unhighlight: function (element) { // revert the change done by hightlight
            $(element)
                    .closest('.form-group').removeClass('has-error');
            $(element)
                    .next().children().children().attr('style', 'border-color:'); // set error class to the control group
        },
        success: function (label) {
            label
                    .closest('.form-group').removeClass('has-error'); // set success class to the control group
        }
    });

    
</script>