<section class="content dashboard" style="min-height: 525px;">
    <div class="container-fluid dashbaordContainer">
        <div ng-class="{'margin-left-client': hme.logInUserRole == hme.role_client, 'margin-left-others': hme.logInUserRole == hme.role_hr, 'margin-left-others': hme.logInUserRole == hme.role_admin}"> 
            <h3>Welcome <span style="color:#3c8dbc;font-size: smaller;">{{hme.name }} !</span></h3>
        </div>

        <!-- Start Dashboard for admin -->
            <div class="row col-xs-12" ng-if='hme.logInUserRole == hme.role_admin'> 
                <div class="col-md-4 zoom no-padding align-image-center">
                    <img src="resources/img/Admin_dashboard/Live_jd_img.png" width="325px" height="261px">
                </div>
                <div class="col-md-4 zoom no-padding align-image-center">
                    <img src="resources/img/Admin_dashboard/Clients_img.png" width="325px" height="261px">
                </div>
                <div class="col-md-4 zoom no-padding align-image-center">
                    <img src="resources/img/Admin_dashboard/Candidates_img.png" width="365px" height="261px">
                </div> 
            </div>

            <div class="row col-xs-12" ng-if='hme.logInUserRole == hme.role_admin'> 
                <div class="col-md-6 zoom no-padding align-image-center">
                    <img src="resources/img/Admin_dashboard/Overall_img.png" width="500px">
                </div>
                <div class="col-md-6 zoom no-padding align-image-center">
                    <img src="resources/img/Admin_dashboard/Selected_img.png" width="500px">
                </div>
            </div>
        <!-- End Dashboard for admin -->

        <!-- Start Dashboard for hr -->
            <div class="row col-xs-12" ng-if='hme.logInUserRole == hme.role_hr'> 
                <div class="col-md-6 zoom no-padding align-image-center">
                    <img src="resources/img/HR_dashboard/Candidates_Management_img.png" width="500px" height="auto">
                </div>
                <div class="col-md-6 zoom no-padding align-image-center">
                    <img src="resources/img/HR_dashboard/Todays_Interview_Schedule_img.png" width="500px" height="auto">
                </div>
            </div>

            <div class="row col-xs-12" ng-if='hme.logInUserRole == hme.role_hr'> 
                <div class="col-md-6 zoom no-padding align-image-center">
                    <img src="resources/img/HR_dashboard/Overall_img.png" width="500px">
                </div>
                <div class="col-md-6 zoom no-padding align-image-center">
                    <img src="resources/img/HR_dashboard/Selected_img.png" width="500px">
                </div>
            </div>
        <!-- End Dashboard for hr -->

        <!-- Start Dashboard for client -->
            <!-- <div class="row col-xs-12" ng-if='hme.logInUserRole == hme.role_client'> 
                <div class="col-md-6 zoom no-padding align-image-center">
                    <img src="resources/img/Client_dashboard/Live_jd_img.png" width="500px" height="auto">
                </div>
                <div class="col-md-6 zoom no-padding align-image-center">
                    <img src="resources/img/Client_dashboard/Candidates_Management_img.png" width="500px" height="auto">
                </div>
            </div>

            <div class="row col-xs-12" ng-if='hme.logInUserRole == hme.role_client'> 
                <div class="col-md-6 zoom no-padding align-image-center">
                    <img src="resources/img/Client_dashboard/Overall_img.png" width="500px">
                </div>
                <div class="col-md-6 zoom no-padding align-image-center">
                    <img src="resources/img/Client_dashboard/Selected_img.png" width="500px">
                </div>
            </div> -->
            <!-- <div class="row col-xs-12" ng-if='hme.logInUserRole == hme.role_client'>
                <div class="col-md-3 col-sm-6 col-xs-12 zoom" ng-repeat="tec in hme.technologyList">                    
                    <div class="box box-solid box-primary">
                        <div class="box-header">
                            <h3 class="box-title">{{tec.name}}</h3>
                        </div>
                        <div class="box-body">
                            The body of the box
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row client-row"  ng-if='hme.logInUserRole == hme.role_client'>
              <div class="col-md-12 set-main-padding">
                <div class="col-md-3 col-sm-6 col-xs-12 set-padding" ng-repeat="tec in hme.technologyList">
                    <div class="box style_prevu_kit" style="">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{tec.name | uppercase}}</h3>
                        </div>
                        <div class="box-body">
                            <ul id="details_list" style="list-style: none;">
                                <li><strong>Job Description</strong><a class="pull-right">{{tec.job_description_count}}</a></li>
                                <li><strong>Total JD Requirements</strong><a class="pull-right">{{tec.total_no_of_requiremet_count}}</a></li>
                                <li><strong>Shared Candidates</strong><a class="pull-right">{{tec.forwarded_candidates_count}}</a></li>
                                <li><strong>Shortlist Candidates</strong><a class="pull-right">{{tec.shortlisted_candidates_count}}</a></li>
                                <li><strong>Joined Candidates</strong><a class="pull-right">{{tec.joined_candidates_count}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        <!-- End Dashboard for hr -->
    </div>
</section>
<style type="text/css">
    #details_list a{
        cursor: pointer;
        text-decoration: none;
    }
    .align-image-center{
        text-align: center;
    }
    .zoom {
      transition: transform .2s;
    }
    .zoom:hover {
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.1); 
    }
    .set-padding{
        padding-left: 5px;
        padding-right: 5px;
    }
    .margin-left-client{
        margin-left:0px !important;
    }
    .margin-left-others{
        margin-left:28px !important;
    }
    .box{
        border: 1px solid #3C8DBC;
        border-top: 5px solid #3C8DBC;
        border-radius: 5px;
        /*background: transparent;*/
        margin-bottom:10px;
    }
    .main-box-header{
        background-color: #3C8DBC;
        color: #ffffff;
        text-align: center;
    }
    .box-header .main-box-title{
        font-size: 22px;
        font-weight: bold;
    }
    .box-header.with-border{
        margin-top: -1px;
        border-bottom: 0px solid;
    }
    .box-header{
        background-color: #3C8DBC;
        color: #ffffff;
    }
    .set-padding{
        padding-left: 5px;
        padding-right: 5px;
    }
    .set-main-padding{
        padding: 5px;
    }
    .set-img-border-radius{
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .client-row{
        margin-right: 0px;
        margin-left: 0px;
        border:1px solid #a9a9a9;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .style_prevu_kit{
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1); 
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1); 
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);   

    }

    .style_prevu_kit:hover{
        box-shadow: 0px 0px 100px #7E7E7E;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.1);   
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.1);
        transition: all 200ms ease-in;
        transform: scale(1.1);
    }
</style>

<script>
    $(document).ready(function () {
        $("html, body").animate({scrollTop: 0}, "fast");
    });
</script>