.bar{
    fill: steelblue;
  }

  .bar:hover{
    fill: brown;
  }

    .axis {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .node {
    cursor: pointer;
  }

  .overlay{
      background-color:#EEE;
  }

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .node text {
    font-size:10px;
    font-family:sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }


body{
    font-family: 'Montserrat',sans-serif !important;
    font-size: 13px;
}

.tooltip {

    font-family: 'Montserrat' ,Helvetica,Arial,sans-serif;
}
.mdi-information-outline{
    color: #f39c12;
    cursor: pointer;
}

b, strong,th,h1,h2,h3,h4,h5,h6 {
    font-family: sanspro_bold;
}
@-moz-document url-prefix() {
    b, strong,th,h1,h2,h3,h4,h5,h6 {
        font-family: sans-serif;
    }
}
.main-header .logo {
    font-size: 18px;
}

.formheading {

    background-color:#ffffff;
    font-size: 18px;
    padding: 2px 11px;
    margin-top: 0;
    margin-left: 10px;
}

.form-group {
    /*margin-bottom: 5px;*/
    /*min-height: 62px;*/
}
.form-group.has-error label {
    color: #dd4b39;
    font-size: 12px;
    margin: 0;
}
.btn {

    border-radius: 0px!important;
    outline: 0;
    margin-right:5px;
}

.form-control {
    border-radius: 0px!important;
}

.box-body, .box-footer{
    margin-left:18px!important;
    margin-right:18px!important;
}

.select2-selection--single{

    height: 34px!important;
    border-radius: 0px!important;
}

.boxx {
    width: 45%;
    height:300px;
    background-color: white;
    border: 0px solid black;
    padding: 25px;
    margin:20px 5px 15px 4px;
}

#popUpModalHeader{
    text-align: center!important;
}
.popUpModalBody
{
    color: #1c2126;
    font-size: 16px;
    text-align: center!important;}
.popUpModalTitle{
    font-size:20px;
    text-align: center;
    color: #737373;
    /*font-family:Comic Sans MS;*/
    text-align: left!important;
    font-weight: bold!important;
    margin-bottom: 3px!important;
    border-top: 0px!important;
}

.control-sidebar-bg, .control-sidebar{

    width: 460px!important;
}

.control-sidebar-dark, .control-sidebar-dark+.control-sidebar-bg {
    background:  #f9f9f9!important;

}

.zd-info {
    height: 40px;
    z-index: 1010;
    padding: 50 0 0 20px;
    background: #f1f1f1;
    border-bottom: 1px solid #dddddd;
}

.file-title {
    max-width: 226px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    margin-left: 10px!important;
    margin-top: 2px!important;
    vertical-align: middle;
}

.zd-ilink {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}



.dashboard{
    background: #f3f3f3!important;
}

.dashbaordContainer{
    padding: 0px;
    /*overflow: auto;

    padding-left: 15px;
    padding-right: 15px;*/

}

.panel-default{
    height:370px;
    width:100%;
}

.materialIcon{
    font-size: 19px!important;
}


.home-logo {
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 16px!important;
    line-height: 50px;
    text-align: left!important;
    width: 230px;
    padding: 0 15px;
    font-weight: 600!important;
    overflow: hidden;

}

.top-nav {
    margin-left: 0px!important;
    background-color: #1e5598!important;
}

.span-top-nav{
    background-color: #1e5598!important;
    width: 100px!important;
    margin-left:30px;
    margin-right:-34px;
    nt-size: 16px!important;
    font-weight: 600!important;
}



.document{
    background-color: white;
    display: block;
    border: 0;
    font-size: 15px;
    height: 40px;
    font-weight: 500;
    line-height: 30px;
    float: left;
}

.document a{
    color:black;
    bottom: 3px;
}

div .side-button{
    margin-top:3px;

}

.boxhead{
    padding-left: 0px;
}

.select2-selection__choice {
    color: black !important;
}

/*.doc-button{
    border:1px solid blue;
}*/


.paddingLeft0{
    padding-left: 0px;
    margin-left: 0px;
}

.marginBorderHead{
    border-bottom: 1px solid lightgrey!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.marginUserBody{
    margin-top: 35px;
    padding-left: 145px!important;
}
.marginEmailBody{
    margin-top: 14px;
}
.marginUserBody .form-group{
    height:40px!important;
}
.userRoleBody {
    min-height: 260px;
    margin-top: 2%;
}


.formHeadDiv{
    margin-left: 18px;
    margin-left: 18px;
}

.userModal{
    left: 100px;
    top: 145px;
    border-radius: 0px;
}

.userModalHeader{
    background-color: black;
    color: white;
}

.usermodalBody{
    left:130px;
}

.usermodalButton{
    margin-right: 254px;
}
aside.sm_container {
    display: none;
    border-left: 1px solid gainsboro;
    width: 350px;
    /* height: 100px; */
    z-index: 10000;
    background: whitesmoke;
    position: fixed;
    top: 52px;
    right: 0;
    bottom: 0;
}
aside.sm_container1 {
    display: none;
    border-left: 1px solid gainsboro;
    width: 350px;
    /* height: 100px; */
    z-index: 10000;
    background: whitesmoke;
    position: fixed;
    top: 52px;
    right: 0;
    bottom: 0;
}


.sm_head {
    /* height: 30px; */
    border-bottom: 1px solid gainsboro;
    padding: 11px 15px;
    margin: 0;
    background: #f1f1f1;
}
.sm_head .pm_close{float: right;}
.sm_head h4{margin:0;}
.sm_body {
    overflow-y: scroll;
    height: 78%;
    padding: 10px;
}

.sm_footer{
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: #f1f1f1;
    border-bottom: 1px solid gainsboro;
}

.sm_footer h4{margin:0;}

.tabBtm {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.tabBtm-sidebar-tabs{

}
* {
    margin: 0;
    padding: 0;
}

.pm_uploader_container {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40%;
    z-index: 10000;
    background: white;
    padding: 20px 15px;
    box-shadow: 0px 0px 10px #949494;
}

.pm_uploader_head {
    position: relative;
    margin-bottom: 15px;
}
.pm_uploader_head h4 {
    display: inline-block;
    font-size: 18px;
    /* font-weight: bold; */
    margin: 0px;
}
.pm_uploader_body .file_info {
    width: 50%;
    float: left;
}
.file_activity .progress {
    height: 5px;
    margin: 0;
    width: 90%;
}

.pm_uploader_head a.pm_close{float: right;}
.file_activity {
    width: 50%;
    float: left;
    padding-top: 10px;
}
a.pm_close {
    color: #8c8c8c;
}

@font-face {
    font-family: 'sanspro_regular';
    src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype') ;
}
@font-face {
    font-family: 'sanspro_bold';
    src: url('../fonts/SourceSansPro-Bold.ttf') format('truetype') ;
}
/*a.site-logo {
    float: left;
    margin: 6px 0px 0px 18px;
}*/


.skin-blue .main-header .logo {
    background-color: #004f89;
}
.skin-blue .main-header .logo:hover {
     background-color: #004f89;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #004f89;
}


.main-sidebar{
    position: fixed;
    /*display: none;*/
}
/*.content-wrapper, .right-side, .main-footer {
    margin-left: 0px;
}*/
.main-header{
    width: 100%;
    position: fixed;
}
.hideSideBar{
    margin-left: 0px;
}
.showSideBar{
    margin-left: 230px;
}
.content {
    margin-top: 3%;
}


.skin-blue .sidebar a {
    color: #d6d6d6;
}
/*.main-sidebar, .left-side {
    width: 200px;
}*/

.pulse-button {

    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    border-radius: 100%!important;
    background-color: #428bca;
    background-image: url(resources/img/blurred.jpeg);
    background-size:cover;
    background-repeat: no-repeat;

}
.pulse-button:hover
{
    background-color: #428bca;
}

/*@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}*/



.select2-search__field {
    width: 100%!important;
}

.blurrBackground{
    filter: blur(15px);
}


#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: fixed;
    top: 300px;
    left: 640px;
    z-index: 100;
}

.project_desc_dashboard {
    text-align: justify;
    text-justify: inter-word;
}

.On-hold{
    background: orange;
}

.Active{
    background: #3CB371;
}

.Pending{
    background: #4169E1;
}

.Closed{
    background: red;
}

.Deleted{
    background: grey;
}

.prjct-footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1053;
}

/*.pulse-button {

    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    border-radius: 100%!important;
    background-color: #428bca;
    background-image: url(resources/img/blurred.jpeg);
    background-size:cover;
    background-repeat: no-repeat;

}
.pulse-button:hover
{
    background-color: #428bca;
}*/


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 100%!important;
    outline: 0;
}

.btn-circle.btn-lg {
    width: 40px;
    height: 40px;
    padding: 8px 10px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 100%!important;
    outline: 0;
}

.btn-circles {
    width: auto;
    height: auto;
    text-align: center;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 100%!important;
    border-radius: 25px !important;
    overflow: hidden;
    outline: 0;
}

label.mandatory:after {
    content: ' *';
    color: #FB3A3A;
    display: inline;
    margin-bottom: 0px;
    font-size: medium;
}

.moving-pulse-button {

    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    border-radius: 100%!important;
    background-color: #428bca;
    background-image: url(resources/img/blurred.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.88, 0, 0, 2);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.88, 0, 0, 2);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.88, 0, 0, 2);
    animation: pulse 1.25s infinite cubic-bezier(0.88, 0, 0, 2);
}
.moving-pulse-button :hover
{
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}


.colorAnimate {
    -webkit-animation: mymove 10s ;
    animation: mymove 5s ;
}

@keyframes mymove {
    from {color: black;}
    to {color: white;}
}

.btn.btn-outline.green {
    border-color: #428bca;
    color: #428bca;
    background: none;
    outline: 0;
}
.btn.btn-outline.green:hover, .btn.btn-outline.green:active, .btn.btn-outline.green:active:hover, .btn.btn-outline.green:active:focus, .btn.btn-outline.green:focus, .btn.btn-outline.green.active {
    border-color: #428bca;
    color: #FFFFFF;
    background-color: #428bca;
    outline: 0;
}
.per_btn{
    font-size: 11px;
    outline: 0;

}
 .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    outline: 0;
}

.swal2-modal.animated.tada.swal2-noanimation{
    width: 335px !important; 
    padding: 20px !important;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;
    display: block !important;
    min-height: 274px !important; 

}

.swal2-icon.swal2-warning{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
color: #f8bb86 !important;
border-color: #facea8 !important;
font-size: 45px !important;
line-height: 75px !important;
text-align: center !important;

}

.swal2-icon {
    width: 80px !important;
    height: 80px !important;
    border: 4px solid transparent !important;
        /*border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;*/
    border-radius: 50% !important;
    margin: 10px auto 20px !important;
    padding: 0 !important;
    position: relative !important;
    box-sizing: content-box !important;
    cursor: default !important;
    /*-webkit-user-select: none;*/
    -moz-user-select: none !important;

}

.swal2-title{
    font-size: 25px !important;

}

.swal2-modal.swal2-show{
    width:330px !important;
}
.modal{
    /*margin-top: 4%;*/
    margin-top: 3.5%;
}
.table{
    background-color: white;
}
thead{
    color: #2d90ca ;
}
textarea{
    resize: vertical;
    min-height:40px;
}
.userSection:hover{
    background-color: #005998 !important;
}
.userSection{
    background-color: #005998 !important;
}
@media (max-width: 1200px) {
    .content{
    margin-top: 20%;
    }
     .contsiner{
    margin-top: 14%;
    }
    #totalAmount{
        text-align:left;
    }
    .logo{
            padding-left: 85px !important;
    }
    #logout{
        margin-top: 0% !important;
    }
    #homeView{
        width: 35% !important;
    }
}
/*th{
    text-align:center !important;
}*/
.bootstrap-timepicker-widget table td input{
    width: 55px !important;
}


/*tab css*/
.nav-tabs {
    border-bottom: 0px solid #ddd !important;
}
.nav-tabs-custom-main > .nav-tabs > li:not(.active) > a:hover, .nav-tabs-custom-main > .nav-tabs > li:not(.active) > a:focus, .nav-tabs-custom-main > .nav-tabs > li:not(.active) > a:active{
    border-radius: 5px 5px 0 0 !important;
}
.nav-tabs-custom-main > .nav-tabs > li > a, .nav-tabs-custom-main > .nav-tabs > li > a:hover{
    border-radius: 5px 5px 0 0 !important;
}
.nav-tabs-custom-main > .nav-tabs > li.active > a, .nav-tabs-custom-main > .nav-tabs > li.active:hover > a{
    background-color: #4090be !important;
    color: #ffffff !important;
}
.nav-tabs-custom-main > .nav-tabs > li > a, .nav-tabs-custom-main > .nav-tabs > li > a:hover{
    background: #fff !important;
    color: #444 !important;
    /*padding-left: 38px !important;
    padding-right: 38px !important;*/
    font-size: small !important;
    font-weight: 300 !important;
    /*padding-top: 13px !important;
    padding-bottom: 13px !important;*/
}
.nav-tabs-custom-main > .nav-tabs > li{
    margin-right: 3px !important;
    border-bottom:1px solid #ddd !important;
}
.nav-tabs-custom-main{
    margin-bottom: 5px !important;
    /*background-color: #fff !important;*/
}
@media (min-width: 768px){    
    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{
        width: 200px;
    }
}