<section class="content" ng-cloak >
    <div class="container-fluid" style="overflow-y: hidden;">
        <br>
        <div class="row">
            <div class="col-md-6">
                <h4>Jobs</h4>
            </div>
            <div class="col-md-4" style="margin-top:1.5%; visibility: hidden">
                <div class="dataTables_length text-right" id="example_length">
                    <label>Show 
                        <select id="table_length" aria-controls="example" style="outline: 0;">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> 
                    entries</label>
                </div>
            </div>
            <div class="col-md-2 pull-right" style="margin-top:1%;">
                <button type="button" class="btn btn-primary btn-circle btn-sm pull-right"  title="Add New Job " data-target="" data-ng-click="jb.addNewJob()" style="outline: 0;background-color:#428bca;border-color:#357ebd;"><i class="fa fa-plus" aria-hidden="true" style="padding-right:0.3px"></i>
                </button>
            </div>            
        </div> 
        <br>        
        
        <div>
            <table class="table table-condensed table-hover table-responsive">
                <thead class="thead-default">
                    <tr>
                        <th style="text-align: center;">Sr No.</th>
                        <th>Title</th>                        
                        <th>No. of Requirement</th>                        
                        <th>Experiance</th>                        
                        <th>Job Location</th>
                        <th>Job Type</th> 
                        <th>status</th>                         
                        <!-- <th style="text-align: center;">Action</th> -->
                    </tr>
                </thead>
                <!-- <pre>{{usr.allUsersList|json}}</pre> -->
                <tbody>
                    <tr>
                        <td style="text-align: center;"></td>
                        <td ></td>                        
                        <td ></td>                        
                        <td ></td>                        
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <!-- <td style="text-align: center;"> 
                            <a type="button" class="btn" title="Download PDF" ng-click="rlc.downloadResumePDF(data.id)" style="outline: 0;padding:0px"><i style="cursor: pointer;margin-left: 5px;color: red;" class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                        </td>  -->    
                    </tr>
                    <tr ng-if="jb.jobList == null || jb.jobList.length == 0">
                        <td style="text-align: center;" colspan="7">No Records Found</td> 
                    </tr>
                </tbody>
            </table>
            <!-- <div class="row col-sm-12" style="padding-right: 0px;">
                <ul id="pagination-sec" class="pagination-sm" style="float: right;margin-top: 5px;margin-bottom:45px;margin-right:-1.2%"></ul>
            </div> -->
        </div> 
    </div>

    
</section>
