<section class="content" ng-cloak>
<br><br>
    <form role="form" name="addForm" id="viewJobForm" >
        <div class="box box-default" >
            <div class="row box-header with-border boxhead">
                <div class="col-xs-6">
                    <h1 class="formheading">
                        <b>View Job</b>
                    </h1>
                </div>

                <div class="col-xs-6">
                    <div class="pull-right" style="margin-top: 5px; margin-right: 20px;">
                        <a ng-href="/jobs"><button type="button" class="btn btn-default btn-sm" data-toggle="modal" title="Back" data-target="" data-ng-click="" style="border:white;color:#428bca;outline: 0;"><i class="fa fa-arrow-left" aria-hidden="true"></i></button></a>  
                    </div> 
                </div>                
            </div>
            <!-- /.box-header -->
            <div class="box-body">  
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Technology:</label><br>
                        <span ng-bind="jb.technologyName == null ? 'NA' :  jb.technologyName"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Job Title:</label><br>
                        <span ng-bind="jb.jobTitle == null ? 'NA' :  jb.jobTitle"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Subtitle:</label><br>
                        <span ng-bind="jb.subTitle == null ? 'NA' :  jb.subTitle"></span>
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Notice Period:</label><br>
                        <span ng-bind="jb.noticePeroid == null ? 'NA' : jb.noticePeroid"></span>
                    </div> 
                    <div class="col-md-4 form-group">
                        <label>No. of Requirement:</label><br>
                        <span ng-bind="jb.requirementNo == null ? 'NA' : jb.requirementNo"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Experience:</label><br>
                        <span ng-bind="jb.experiance == null ? 'NA' : jb.experiance"></span>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Job Location:</label><br>
                        <span ng-bind="jb.jobLocation == null ? 'NA' : jb.jobLocation"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Job Type:</label><br>
                        <span ng-bind="jb.jobType == null ? 'NA' : jb.jobType"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>CTC:</label><br>
                        <span ng-bind="jb.ctc == null ? 'NA' : jb.ctc"></span>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Valid till date:</label><br>
                        <span ng-bind="jb.valid_till_date == null ? 'NA' : jb.valid_till_date"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Client Name:</label><br>
                        <span ng-bind="jb.companyName == null ? 'NA' : jb.companyName"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Project Description:</label><br>
                        <span ng-bind="jb.project_title == null ? 'NA' : jb.project_title"></span>
                    </div>           
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Description:</label><br>
                        <span ng-bind="jb.description == null ? 'NA' : jb.description"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Required Skills:</label><br>
                        <span ng-bind="jb.requiredSkill == null ? 'NA' : jb.requiredSkill"></span>
                    </div>               
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Additional Skills:</label><br>
                        <span ng-bind="jb.additionalSkill == null ? 'NA' : jb.additionalSkill"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Roles And Responsibility:</label><br>
                        <span ng-bind="jb.roleResponsibility == null ? 'NA' : jb.roleResponsibility"></span>
                    </div>                  
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer" style="margin-right:14px!important">
                <div class="pull pull-right">
                    <input type="button" value="Back" class="btn btn-warning" data-ng-click="jb.cancelJob()"  style="outline: 0;"/> 
                </div>
            </div>
        </div>
    </form>
</section>

<script>
    $(document).ready(function () {
        $("html, body").animate({scrollTop: 0}, "fast");
    });
</script>

