<section class="content ng-scope">

<div class="login-box" ng-controller="forgetPasswordCtrl">
  <div class="login-logo">
    <b>Forgot Password</b>
  </div>
  <!-- /.login-logo -->
 
  <div class="login-box-body">
    <p class="login-box-msg">Enter your email entered during signing in</p>

    <form id="forgotpasswordForm" method="POST">

      <div class="form-group has-feedback">
        <label  class="sr-only"></label>        
        <input type="email" class="form-control" placeholder="Email" name="email" ng-model="fpc.email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="row">

        <div class="col-md-7 col-md-offset-5">                
            <button type="button" class="btn btn-default" name="submit-btn" ng-click="fpc.send()">
             <span class="glyphicon glyphicon-log-in"></span> &nbsp; Send verification link
            </button>
        </div>
    </div>       

    </form>
     
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</section>

 <script>
function validateforgotpasswordForm(){

  $("#forgotpasswordForm").validate({ 
    rules: {
      email:{
        required: true,
        customEmail: true
      }
    },
    highlight: function (element) { // hightlight error inputs
            $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
        },
    unhighlight: function (element) { // revert the change done by hightlight
            $(element)
                    .closest('.form-group').removeClass('has-error'); // set error class to the control group
        },
    success: function (label) {
            label
                    .closest('.form-group').removeClass('has-error'); // set success class to the control group
        }
  });
  }
 validateforgotpasswordForm();  
</script>