<style>
  /*header,.main-sidebar,.control-sidebar,footer{
    display: none
  }*/
 .wrapper,html{
  background-color: #ecf0f5 !important;
 }
 .content-wrapper, .right-side, .main-footer {
    margin-left: 0px;
}
 .login-page, .register-page {
    background: #ecf0f5;
}
</style> 


<section class="content" style="min-height: 100px !important; overflow:hidden;margin-top:0%" ng-cloak>

    <div class="login-box" ng-controller="loginCtrl">
        <div class="login-logo">
            <b>Resume Module</b>
        </div>
        <!-- /.login-logo -->

        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            
            <form id="loginForm" method="POST">

                <div class="form-group has-feedback" style="min-height:55px">
                    <label  class="sr-only"></label>
                    <input type="text" class="form-control" placeholder="Username" name="email" ng-model="lgc.email" id="username">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback" style="min-height:55px">
                    <label  class="sr-only"></label>        
                    <input type="password" class="form-control" placeholder="Password" name="password" ng-model="lgc.password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <!-- <input type="checkbox" ng-model="lgc.remember"> Remember Me -->
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-4 row"> 
                        <button  type="submit" class="btn btn-primary btn-block btn-flat" name="submit-btn" ng-click="lgc.login()">
                            <span class="glyphicon glyphicon-log-in"></span> &nbsp; Sign In
                        </button>
                    </div>
                    <!-- /.col -->
                </div>

                <!--forgotpassword-->
                <!-- <a ng-click="lgc.forgotpassword()" href="#"> Forgot Password </a> -->
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
</section>

<script>

            function validateloginForm() {

                $("#loginForm").validate({
                    rules: {
                        email: {
                            required: true 
                        },
                        password: {
                            required: true
                        }
                    }, messages: {
                        email: {
                            required: "Username is required."
                        },
                        password: {
                            required: "Password is required."
                        
                        }
                    },
                    highlight: function (element) { // hightlight error inputs
                        $(element)
                                .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },
                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                                .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },
                    success: function (label) {
                        label
                                .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    }
                });
            }
            validateloginForm();
</script>

<!-- iCheck --> 
<script src="../resources/plugins/iCheck/icheck.min.js"></script>
<script>

            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });
            });
</script>
<script>
            $(document).ready(function () {
                $("html, body").animate({scrollTop: 0}, "fast");
                $('body').css('overflow','hidden');
                $('body').css('overflow-x','hidden');

            });
            $(window).scroll(function () {
                scroll(0, 0);
            });

</script>
<script type="text/javascript">
    $(function() {
        $('#username').on('keypress', function(e) {
            if (e.which == 32)
                return false;
        });
    });
</script>
